<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
	<connectionStrings>
  <add name="XCubeCrmContext" connectionString="Data Source=UGUROZCAN\SQL2022; Initial Catalog=XCubeCrmDBs; User Id=XCubeCrm; Password=Ha9UL_6ja31."
   providerName="System.Data.SqlClient" />
  <add name="localhost_Connection" connectionString="XpoProvider=MSSqlServer;data source=UGUROZCAN\SQL2022;user id=sa;password=LOGO;initial catalog=TONGUC;Persist Security Info=true" />
 </connectionStrings>
</configuration>